@inherits LayoutComponentBase

@using Blazored.Toast.Configuration

<div class="sidebar" style="width: 15%">
    <NavMenu />
</div>

<div class="main" style="width: 85%">
    <div class="content px-4">
        @Body
    </div>
</div>

<BlazoredToasts Position="ToastPosition.BottomRight" ShowProgressBar="true" />